workflows/01-main-supervisor.json
{
  "name": "01 - Literature Review Supervisor (Main) - Chat v3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "67e4783d-3362-4d29-853b-e0d24cda14f4",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -80
      ],
      "webhookId": "a713f3ab-634c-4903-ade5-57f67caeef1c"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "d815bdc9-8c88-409d-a968-0a7d6bbea882",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        512,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the Executive Supervisor of an Autonomous Literature Review System.\nYour objective is to direct specialized tools to autonomously complete literature reviews based on user requests.\n\nYou control 4 powerful sub-agents (tools):\n1. extract_all\n2. analyze_themes\n3. write_review\n4. check_facts\n\n## AUTONOMY & ORCHESTRATION RULES (ReAct & Plan-and-Execute):\n1. NO PRE-PROGRAMMED SEQUENCE: You are not bound by a strict sequence. You must deduce the required steps dynamically based on the user's request and tool capabilities.\n2. DEPENDENCY AWARENESS: Logically deduce dependencies. Writing requires analysis to be done first, and analysis requires extraction. Outline your plan mentally before acting.\n3. TARGETED EXECUTION: If the user asks for a specific sub-task (e.g., \"Sadece temaları analiz et\" or \"Check the facts of the existing draft\"), ONLY call the necessary tool(s) for that objective.\n4. SEQUENTIAL EXECUTION: ALWAYS wait for a tool to complete and return a success message before calling the next one.\n5. SELF-CORRECTION: If a tool reports an error (e.g., Fact-Checker hits the retry limit), analyze the issue and decide whether to retry or escalate to the human user.\n6. FILESYSTEM STATE: Tools communicate via the local filesystem. You do not pass massive JSON payloads. Trigger them with simple signals like \"start\".\n7. FILE LOCATION KNOWLEDGE: The academic PDFs are ALREADY mounted and ready in the system's secure local filesystem (/home/node/.n8n-files/). You DO NOT need to ask the user to upload files or provide paths. When the user gives the objective to start, assume the raw data is physically present on disk and immediately initiate your execution plan by extracting them.\n\nDo not ask the user for permission to move to the next logical step. Formulate an execution plan silently and carry it out autonomously. When the goal is complete, provide a final executive summary.",
          "maxIterations": 20
        }
      },
      "id": "c3c810cc-26ea-4705-bd23-f4f151d39bc6",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        -80
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 65536,
          "temperature": 0.1
        }
      },
      "id": "1baa36a7-954e-4be1-b011-f43a4224223d",
      "name": "Gemini Flash - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PUT_YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Extracts raw text from academic PDFs and converts them into structured JSON methodology and finding representations. Use this when new PDFs need to be ingested or evaluated.",
        "workflowId": {
          "__rl": true,
          "value": "0EMzAgHX6hd54Qk9",
          "mode": "id",
          "cachedResultUrl": "/workflow/0EMzAgHX6hd54Qk9"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c8626f1c-84c6-4ba3-8cd2-edb629c62dea",
      "name": "Tool: Extract All",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "description": "Analyzes extracted paper JSON data to identify cross-cutting themes, compare methodologies, and discover research gaps. Call this to synthesize raw extracted data.",
        "workflowId": {
          "__rl": true,
          "value": "KlUx3Rv6kqU3yZ9K",
          "mode": "id",
          "cachedResultUrl": "/workflow/KlUx3Rv6kqU3yZ9K"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "394ae1eb-d65e-4056-8e9c-dd0549748e76",
      "name": "Tool: Analyze Themes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        768,
        144
      ]
    },
    {
      "parameters": {
        "description": "Writes a complete IEEE-format literature review draft using analyzed themes. Requires extraction and analysis to be completed and available on disk first.",
        "workflowId": {
          "__rl": true,
          "value": "18AAR2OMbuqdqunV",
          "mode": "id",
          "cachedResultUrl": "/workflow/18AAR2OMbuqdqunV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "2130e21a-eb0c-47bd-9469-9ecff59a3d5b",
      "name": "Tool: Write Review",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        896,
        144
      ]
    },
    {
      "parameters": {
        "description": "Verifies the written draft against the original PDF data for hallucinations or fabricated claims. It triggers its own automatic revision loops if errors are found. Always call this as the final validation step after a draft is written.",
        "workflowId": {
          "__rl": true,
          "value": "Do9z4hIyALy72OWo",
          "mode": "id",
          "cachedResultUrl": "/workflow/Do9z4hIyALy72OWo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "65d55153-0a0e-4dc8-9899-c6f2050261b5",
      "name": "Tool: Check Facts",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1024,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash - Supervisor": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Extract All": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Analyze Themes": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Write Review": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Check Facts": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce8cdac5-a37e-4d13-aa12-3b3d7f83248f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7aec8b029b068956a10542237692cf3bfbb2d308d8dcc3ca3898552060578cc8"
  },
  "id": "HiwanUmAs7NHrr79",
  "tags": []
}