workflows/01-main-supervisor.json
{
  "updatedAt": "2026-03-14T20:06:59.551Z",
  "createdAt": "2026-03-12T14:47:04.515Z",
  "id": "prsRZpdU848KeQtK",
  "name": "01 - Literature Review Supervisor (Main) - Chat v3",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger-chat",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ],
      "webhookId": "a713f3ab-634c-4903-ade5-57f67caeef1c"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "memory-chat",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        -160,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the Supervisor Agent of an AI Literature Review system.\nYou MUST manage a set of tools to create a literature review. The tools communicate via the filesystem, so you NEVER see massive JSON payloads. You only see confirmation messages.\n\nFollow this EXACT sequence when the user asks you to start:\n1. Call `extract_all` (with input: \"start\"). This reads PDFs and saves extraction data to disk.\n2. Wait for it to return success. Then call `analyze_themes` (with input: \"start\"). This reads the extraction data and saves theme data to disk.\n3. Wait for it to return success. Then call `write_review` (with input: \"start\"). This reads the themes and writes a draft to disk.\n4. Wait for it to return success. Then call `check_facts` (with input: \"start\"). This verifies the draft and saves the final output to disk.\n\nCRITICAL RULES:\n- ALWAYS wait for a tool to finish before calling the next one.\n- DO NOT pass complex JSON objects to tools. ONLY pass the exact string \"start\".\n- YOU do not read PDFs or JSON files yourself. The tools do it.",
          "maxIterations": 20
        }
      },
      "id": "supervisor-agent-v3",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 65536,
          "temperature": 0.1
        },
        "modelName": "models/gemini-3.1-flash-lite-preview"
      },
      "id": "llm-supervisor",
      "name": "Gemini Flash - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "IZebZJCgpMR7l73Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Step 1. Extracts all PDFs. Input MUST be exact string: \"start\"",
        "name": "extract_all",
        "source": "database",
        "toolDescription": "Step 1. Extracts all PDFs. Input MUST be exact string: \"start\"",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "auJKkkqtL50nbhB1"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "id": "tool-ext",
      "name": "Tool: Extract All",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        224,
        528
      ]
    },
    {
      "parameters": {
        "description": "Step 2. Analyzes themes. Input MUST be exact string: \"start\"",
        "name": "analyze_themes",
        "source": "database",
        "toolDescription": "Step 2. Analyzes themes. Input MUST be exact string: \"start\"",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "uxOCOraCuF9jvVBq"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "id": "tool-ana",
      "name": "Tool: Analyze Themes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        368,
        528
      ]
    },
    {
      "parameters": {
        "description": "Step 3. Writes draft. Input MUST be exact string: \"start\"",
        "name": "write_review",
        "source": "database",
        "toolDescription": "Step 3. Writes draft. Input MUST be exact string: \"start\"",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "E6qqZ2YuDpp5fRXF"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "id": "tool-wrt",
      "name": "Tool: Write Review",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        528
      ]
    },
    {
      "parameters": {
        "description": "Step 4. Checks facts and saves final. Input MUST be exact string: \"start\"",
        "name": "check_facts",
        "source": "database",
        "toolDescription": "Step 4. Checks facts and saves final. Input MUST be exact string: \"start\"",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "g47DsiVFwUgj9vw9"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "id": "tool-chk",
      "name": "Tool: Check Facts",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        528
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash - Supervisor": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Extract All": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Analyze Themes": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Write Review": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Check Facts": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9866801c-d04c-458a-b86e-d8255d9a0ab2",
  "activeVersionId": "9866801c-d04c-458a-b86e-d8255d9a0ab2",
  "versionCounter": 14,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T14:47:04.521Z",
      "createdAt": "2026-03-12T14:47:04.521Z",
      "role": "workflow:owner",
      "workflowId": "prsRZpdU848KeQtK",
      "projectId": "roA3b85alNOe0Ceu",
      "project": {
        "updatedAt": "2026-03-12T11:12:12.445Z",
        "createdAt": "2026-03-12T11:05:51.767Z",
        "id": "roA3b85alNOe0Ceu",
        "name": "Serhan Ege Cayirci <serhanege01@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "72e2a621-6922-459d-bce7-a52562c3a4ae"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-14T20:06:59.593Z",
    "createdAt": "2026-03-14T20:06:59.593Z",
    "versionId": "9866801c-d04c-458a-b86e-d8255d9a0ab2",
    "workflowId": "prsRZpdU848KeQtK",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "trigger-chat",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          304
        ],
        "webhookId": "a713f3ab-634c-4903-ade5-57f67caeef1c"
      },
      {
        "parameters": {
          "contextWindowLength": 10
        },
        "id": "memory-chat",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.1,
        "position": [
          -160,
          528
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "You are the Supervisor Agent of an AI Literature Review system.\nYou MUST manage a set of tools to create a literature review. The tools communicate via the filesystem, so you NEVER see massive JSON payloads. You only see confirmation messages.\n\nFollow this EXACT sequence when the user asks you to start:\n1. Call `extract_all` (with input: \"start\"). This reads PDFs and saves extraction data to disk.\n2. Wait for it to return success. Then call `analyze_themes` (with input: \"start\"). This reads the extraction data and saves theme data to disk.\n3. Wait for it to return success. Then call `write_review` (with input: \"start\"). This reads the themes and writes a draft to disk.\n4. Wait for it to return success. Then call `check_facts` (with input: \"start\"). This verifies the draft and saves the final output to disk.\n\nCRITICAL RULES:\n- ALWAYS wait for a tool to finish before calling the next one.\n- DO NOT pass complex JSON objects to tools. ONLY pass the exact string \"start\".\n- YOU do not read PDFs or JSON files yourself. The tools do it.",
            "maxIterations": 20
          }
        },
        "id": "supervisor-agent-v3",
        "name": "Supervisor Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "options": {
            "maxOutputTokens": 65536,
            "temperature": 0.1
          }
        },
        "id": "llm-supervisor",
        "name": "Gemini Flash - Supervisor",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -48,
          528
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "IZebZJCgpMR7l73Z",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "description": "Step 1. Extracts all PDFs. Input MUST be exact string: \"start\"",
          "name": "extract_all",
          "source": "database",
          "toolDescription": "Step 1. Extracts all PDFs. Input MUST be exact string: \"start\"",
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "auJKkkqtL50nbhB1"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [],
            "value": {}
          }
        },
        "id": "tool-ext",
        "name": "Tool: Extract All",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          224,
          528
        ]
      },
      {
        "parameters": {
          "description": "Step 2. Analyzes themes. Input MUST be exact string: \"start\"",
          "name": "analyze_themes",
          "source": "database",
          "toolDescription": "Step 2. Analyzes themes. Input MUST be exact string: \"start\"",
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "uxOCOraCuF9jvVBq"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [],
            "value": {}
          }
        },
        "id": "tool-ana",
        "name": "Tool: Analyze Themes",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          368,
          528
        ]
      },
      {
        "parameters": {
          "description": "Step 3. Writes draft. Input MUST be exact string: \"start\"",
          "name": "write_review",
          "source": "database",
          "toolDescription": "Step 3. Writes draft. Input MUST be exact string: \"start\"",
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "E6qqZ2YuDpp5fRXF"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [],
            "value": {}
          }
        },
        "id": "tool-wrt",
        "name": "Tool: Write Review",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          512,
          528
        ]
      },
      {
        "parameters": {
          "description": "Step 4. Checks facts and saves final. Input MUST be exact string: \"start\"",
          "name": "check_facts",
          "source": "database",
          "toolDescription": "Step 4. Checks facts and saves final. Input MUST be exact string: \"start\"",
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": "g47DsiVFwUgj9vw9"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [],
            "value": {}
          }
        },
        "id": "tool-chk",
        "name": "Tool: Check Facts",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          640,
          528
        ]
      }
    ],
    "connections": {
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Supervisor Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Flash - Supervisor": {
        "ai_languageModel": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Extract All": {
        "ai_tool": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Analyze Themes": {
        "ai_tool": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Write Review": {
        "ai_tool": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Check Facts": {
        "ai_tool": [
          [
            {
              "node": "Supervisor Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Serhan Ege Cayirci",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-14T20:06:59.635Z",
        "id": 31,
        "workflowId": "prsRZpdU848KeQtK",
        "versionId": "9866801c-d04c-458a-b86e-d8255d9a0ab2",
        "event": "activated",
        "userId": "72e2a621-6922-459d-bce7-a52562c3a4ae"
      },
      {
        "createdAt": "2026-03-14T20:06:59.627Z",
        "id": 30,
        "workflowId": "prsRZpdU848KeQtK",
        "versionId": "9866801c-d04c-458a-b86e-d8255d9a0ab2",
        "event": "deactivated",
        "userId": "72e2a621-6922-459d-bce7-a52562c3a4ae"
      }
    ]
  }
}