workflows/02-paper-extractor.json
{
  "name": "02 - Paper Extractor Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "65ee11e8-3bca-4e12-a141-77157bd1edc8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        304
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        304
      ],
      "id": "71befe61-ebb5-400f-9a8e-4ffe1f61b9cd",
      "name": "Read PDFs"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "eee6fb3e-a6c0-4f80-81a9-609769fbaf02",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        304
      ]
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "id": "1eadd468-24c1-45bd-9adf-93500dcb6f9d",
      "name": "Batch (Rate Limit)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item, index) => {\n  const rawText = item.json.text || '';\n  const fileName = item.json.fileName || 'unknown.pdf';\n  // Use runIndex to offset the batch, assuming batchSize is dynamic but we just use item offset for unique ID loosely\n  return {\n    json: { \n      paper_text: rawText, \n      file_name: fileName,\n      paper_number: ($runIndex * items.length) + index + 1 \n    }\n  };\n});"
      },
      "id": "3711050d-bf77-4308-9103-dcade808b740",
      "name": "Prepare Paper Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract structured information from the following academic paper. The paper_id should be \"P{{ $json.paper_number }}\".\n\n--- PAPER TEXT START ---\n{{ $json.paper_text }}\n--- PAPER TEXT END ---\n\nReturn ONLY the JSON object. No markdown, no explanation.",
        "options": {
          "systemMessage": "You are the Paper Extractor Agent. Your SOLE job is to read the raw text of ONE academic paper and extract structured information from it. You are a data extraction tool — nothing more.\n\n## YOUR STRICT RULES\n\n1. EXTRACT ONLY. You do not interpret, compare, synthesize, or evaluate.\n2. SOURCE TEXT ONLY. Every piece of information you return MUST come directly from the provided paper text. If information is not present, mark the field as \"UNCLEAR_IN_SOURCE\".\n3. NO EXTERNAL KNOWLEDGE. You must not use any knowledge beyond what is written in the paper. Even if you \"know\" something about the topic, DO NOT include it.\n4. QUOTE OR CLOSELY PARAPHRASE for key findings and methodology.\n5. Your responses must be deterministic and factual.\n\n## OUTPUT FORMAT\nReturn ONLY a valid JSON object with this structure (no markdown fences, no explanation):\n{\n  \"paper_id\": \"P<number>\",\n  \"title\": \"<exact title>\",\n  \"authors\": [\"<author1>\", \"<author2>\"],\n  \"year\": <year>,\n  \"journal_or_conference\": \"<venue or UNCLEAR_IN_SOURCE>\",\n  \"doi\": \"<DOI or UNCLEAR_IN_SOURCE>\",\n  \"research_objective\": \"<1-2 sentences>\",\n  \"methodology\": {\n    \"type\": \"<type>\",\n    \"description\": \"<2-4 sentences>\",\n    \"dataset\": \"<description or UNCLEAR_IN_SOURCE>\",\n    \"sample_size\": \"<size or UNCLEAR_IN_SOURCE>\",\n    \"tools_or_frameworks\": [\"<tools>\"]\n  },\n  \"key_findings\": [\n    {\n      \"finding\": \"<specific finding>\",\n      \"evidence\": \"<metric or statistic>\",\n      \"section_reference\": \"<section>\"\n    }\n  ],\n  \"limitations\": [\"<limitation or UNCLEAR_IN_SOURCE>\"],\n  \"future_work\": [\"<future work or UNCLEAR_IN_SOURCE>\"],\n  \"key_terms\": [\"<terms>\"],\n  \"references_count\": <number>,\n  \"extraction_confidence\": \"HIGH/MEDIUM/LOW\",\n  \"extraction_notes\": \"<issues>\"\n}\n\nNEVER add findings not in the paper. NEVER infer unstated details. NEVER compare to other papers."
        }
      },
      "id": "d10aadaf-4780-4178-b29c-938785ef197d",
      "name": "Extractor LLM",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0
        }
      },
      "id": "a011e4e4-fb2b-4884-ab9c-3d94c2349e64",
      "name": "Gemini Flash - Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PUT_YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const rawOutput = item.json.output || item.json.text || '';\n  let parsed;\n  try {\n    let cleaned = rawOutput.replace(/\\`\\`\\`json\\n?/g, '').replace(/\\`\\`\\`\\n?/g, '').trim();\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try { parsed = JSON.parse(jsonMatch[0]); } catch (e2) {\n        return { json: { error: 'Failed to parse', raw_output: rawOutput } };\n      }\n    } else {\n      return { json: { error: 'No JSON found', raw_output: rawOutput } };\n    }\n  }\n\n  const requiredFields = ['paper_id', 'title', 'authors'];\n  const missingFields = requiredFields.filter(f => !parsed[f]);\n  if (missingFields.length > 0) {\n    parsed.extraction_notes = (parsed.extraction_notes || '') + ' WARNING: Missing fields';\n    parsed.extraction_confidence = 'LOW';\n  }\n\n  return { json: { extracted_paper: parsed } };\n});"
      },
      "id": "429e239e-1562-46c6-a691-9e80ef40dc5b",
      "name": "Validate & Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "dbeb82bd-f8c1-4d0b-9205-2dd6f4e6e482",
      "name": "Wait (3s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        112
      ],
      "webhookId": "ext-wait"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst extracted = [];\nfor (const item of items) {\n  if (item.json.extracted_paper) {\n    extracted.push(item.json.extracted_paper);\n  }\n}\nreturn [{ json: { extracted_papers: extracted } }];"
      },
      "id": "550b955e-7333-417d-bf9f-7a02177ba477",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// The input is { extracted_papers: [...] } from the collect node\nconst data = $input.first().json;\nreturn [{\n  json: { \"success\": true },\n  binary: {\n    json_data: {\n      data: Buffer.from(JSON.stringify(data, null, 2)).toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'temp_extracted.json'\n    }\n  }\n}];"
      },
      "id": "5527cf7d-2f8a-4f32-8c82-0db5cffb0ee1",
      "name": "Prep Binary DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/temp_extracted.json",
        "dataPropertyName": "json_data",
        "options": {}
      },
      "id": "3bbba5bd-d3ce-4115-b625-0401da46f18a",
      "name": "Write Extracted.json",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { result: 'Successfully extracted papers. Data saved to temp_extracted.json.' } }];"
      },
      "id": "3c537871-df57-43dc-8015-f5d115a8428a",
      "name": "Return String",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        400
      ]
    },
    {
      "parameters": {},
      "id": "8ff84280-8805-4216-9ba4-a542b8cb1b35",
      "name": "Wait (Rate Limit Start)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        304
      ],
      "webhookId": "1530cc79-d41a-4e4b-95bc-e7c59deac245"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Batch (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch (Rate Limit)": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Paper Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Paper Text": {
      "main": [
        [
          {
            "node": "Extractor LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash - Extractor": {
      "ai_languageModel": [
        [
          {
            "node": "Extractor LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extractor LLM": {
      "main": [
        [
          {
            "node": "Validate & Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse Output": {
      "main": [
        [
          {
            "node": "Wait (3s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (3s)": {
      "main": [
        [
          {
            "node": "Batch (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Binary DB": {
      "main": [
        [
          {
            "node": "Write Extracted.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Extracted.json": {
      "main": [
        [
          {
            "node": "Return String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit Start)": {
      "main": [
        [
          {
            "node": "Read PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Prep Binary DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17b41334-aad9-464a-84aa-d2572ea19f32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7aec8b029b068956a10542237692cf3bfbb2d308d8dcc3ca3898552060578cc8"
  },
  "id": "0EMzAgHX6hd54Qk9",
  "tags": [
    {
      "updatedAt": "2026-03-12T11:17:42.147Z",
      "createdAt": "2026-03-12T11:17:42.147Z",
      "id": "WbbFTmyU3z3eHNqr",
      "name": "literature-review"
    },
    {
      "updatedAt": "2026-03-12T11:21:37.748Z",
      "createdAt": "2026-03-12T11:21:37.748Z",
      "id": "a18655EsmKzmwbB2",
      "name": "extractor"
    },
    {
      "updatedAt": "2026-03-12T11:21:37.743Z",
      "createdAt": "2026-03-12T11:21:37.743Z",
      "id": "mrxF1lzrZrgz1ZT3",
      "name": "sub-workflow"
    }
  ]
}