workflows/04-review-writer.json
{
  "name": "04 - Review Writer Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "3f3eec0f-987d-43cc-8393-20a13e893b74",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        528
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/temp_extracted.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        432
      ],
      "id": "a7cc395e-a379-4126-8258-646589c96062",
      "name": "Read Extracted"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst jsonStr = binaryData.toString('utf8');\nconst data = JSON.parse(jsonStr);\nreturn [{ json: data }];"
      },
      "id": "4183b86b-7c40-4024-807d-0c42a4b1bfd7",
      "name": "Parse Extracted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        432
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/temp_analysis.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        624
      ],
      "id": "8fbdd92f-6d60-4b96-8bca-96b558ddfa76",
      "name": "Read Analysis"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst jsonStr = binaryData.toString('utf8');\nconst data = JSON.parse(jsonStr);\nreturn [{ json: data }];"
      },
      "id": "800e8adb-181e-419c-b098-ca51fe17b243",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        624
      ]
    },
    {
      "parameters": {},
      "id": "0c514fe0-a8ee-4452-b8a7-37704043082d",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        64,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const item1 = $input.all()[0];\nconst item2 = $input.all()[1];\n\n// Deep clone to prevent \"Cannot assign to read-only property\" proxy errors downstream\nconst raw1 = item1 ? JSON.parse(JSON.stringify(item1.json)) : {};\nconst raw2 = item2 ? JSON.parse(JSON.stringify(item2.json)) : {};\n\nlet extracted = raw1.extracted_papers || raw1;\nlet rawAnalysis = raw2.analysis || raw2;\n\n// Handle Double-Stringified JSON gracefully\nlet analysis = rawAnalysis;\nif (typeof rawAnalysis === 'string') {\n  try {\n    analysis = JSON.parse(rawAnalysis);\n  } catch(e) {\n    console.error(\"Failed to parse double-stringified analysis:\", e);\n  }\n}\nif (!analysis || typeof analysis !== 'object') analysis = {};\n\nconst safeArray = (arr) => Array.isArray(arr) ? arr : [];\n\nreturn [{\n  json: {\n    trigger_source: \"INITIAL\",\n    paper_count: analysis.analysis_metadata?.total_papers || Object.keys(extracted).length,\n    year_range: analysis.analysis_metadata?.year_range || \"Unknown\",\n    paper_reference_table: JSON.stringify(extracted),\n    themes_summary: JSON.stringify(safeArray(analysis.themes)),\n    methodology_matrix: JSON.stringify(analysis.methodology_comparison || {}),\n    research_gaps: JSON.stringify(safeArray(analysis.research_gaps)),\n    cross_cutting_findings: JSON.stringify(safeArray(analysis.cross_cutting_findings)),\n    full_paper_data: JSON.stringify(extracted)\n  }\n}];"
      },
      "id": "bea8501c-d4a7-46e1-8147-afdc59b1bdf8",
      "name": "Prepare Initial Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.dynamic_user_prompt }}"
      },
      "id": "74c5a53e-ab19-4a3e-8fc2-2bae4aa7516a",
      "name": "Writer LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        736,
        624
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 16384,
          "temperature": 0.1
        }
      },
      "id": "af0dd795-b408-4314-9e3a-27b00b1d5fe4",
      "name": "Gemini Flash - Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        848
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "PUT_YOUR_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let draft = $input.first().json.text || $input.first().json.output || $input.first().json;\n\nfunction parseTables(text) {\n    const tableRegex = /(?:^|\\n)(\\|[^\\n]+\\|(?:\\n\\|[^\\n]+\\|)+)/g;\n    return text.replace(tableRegex, (match, tableBlock) => {\n        let rows = tableBlock.trim().split('\\n');\n        let html = '<table style=\"border-collapse: collapse; width: 100%; margin: 20px 0; font-size: 14px; text-align: left;\">\\n';\n        for (let i = 0; i < rows.length; i++) {\n            let row = rows[i].trim();\n            // check if it's the separator row e.g. |---|---|\n            if (row.replace(/[\\s|:\\-]/g, '').length === 0) continue; \n            \n            let cells = row.split('|');\n            cells.shift(); // remove empty before first |\n            cells.pop();   // remove empty after last |\n            \n            html += '  <tr>\\n';\n            for (let cell of cells) {\n                let tag = i === 0 ? 'th' : 'td';\n                let style = i === 0 \n                  ? ' style=\"background-color: #f4f4f4; padding: 12px; border: 1px solid #ddd; border-bottom: 2px solid #bbb;\"' \n                  : ' style=\"padding: 12px; border: 1px solid #ddd;\"';\n                html += `    <${tag}${style}>${cell.trim()}</${tag}>\\n`;\n            }\n            html += '  </tr>\\n';\n        }\n        html += '</table>\\n';\n        return '\\n\\n' + html + '\\n\\n';\n    });\n}\n\ndraft = parseTables(draft);\n\nreturn [{\n  json: { text: draft },\n  binary: {\n    data: {\n      data: Buffer.from(draft).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'temp_draft.txt'\n    }\n  }\n}];"
      },
      "id": "8f1a63f0-8583-4c33-88d7-43cfb0e701ab",
      "name": "Prep Binary Wrt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        624
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/temp_draft.txt",
        "options": {}
      },
      "id": "d456476e-f100-4534-85c0-41936b578e2e",
      "name": "Write temp_draft.txt",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1312,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { result: 'Review written successfully. Draft and HTML saved!' } }];"
      },
      "id": "136dbe95-a4e8-401b-9443-523d903a605b",
      "name": "Return String Wrt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        624
      ]
    },
    {
      "parameters": {},
      "id": "131cd378-e66e-4f5b-a6e3-eb49e9a77cf6",
      "name": "Wait (Rate Limit Start)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -608,
        528
      ],
      "webhookId": "0bfb7984-6504-4e3e-b411-8ee5aa6d6292"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {}
      },
      "id": "ef29b61e-728c-481e-8459-a0bf30f5fcbf",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1536,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "const htmlRaw = $input.first().json.data || $input.first().json;\nconst htmlStyled = `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>Literature Review</title>\n<style>\n  body {\n    max-width: 900px;\n    margin: 40px auto; \n    padding: 0 20px;\n    background-color: #fff;\n    font-family: \"Times New Roman\", Times, serif;\n    line-height: 1.6;\n  }\n  h1, h2, h3 { text-align: center; font-family: Arial, Helvetica, sans-serif; }\n  p { text-align: justify; }\n</style>\n</head>\n<body>\n${htmlRaw}\n</body>\n</html>`;\n\nreturn [{\n  json: { success: true },\n  binary: {\n    html_data: {\n      data: Buffer.from(htmlStyled).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'literature_review.html'\n    }\n  }\n}];"
      },
      "id": "11d1bc03-24b6-4e85-95d0-26e79146598f",
      "name": "Apply Academic CSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        624
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/literature_review.html",
        "dataPropertyName": "html_data",
        "options": {}
      },
      "id": "bb35b940-b742-458e-b82b-72cf5cd0852e",
      "name": "Write literature_review.html",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1984,
        624
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-writer-revision",
        "options": {}
      },
      "id": "852d7bc8-0541-4628-b34e-f52e7d08b275",
      "name": "Webhook (Revision)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        816
      ],
      "webhookId": "7612d6e4-24ec-4a84-9dc6-881b18fb417e"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/temp_draft.txt",
        "options": {}
      },
      "id": "9d309143-f2cc-4c82-b050-1eda9d98d180",
      "name": "Read Existing Draft",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        64,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const draftData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst currentDraft = draftData.toString('utf8');\n\nconst webhookItems = $('Webhook (Revision)').all();\nconst webhookBody = webhookItems[0].json.body || webhookItems[0].json;\n\nreturn [{\n  json: {\n    trigger_source: 'REVISION',\n    current_draft: currentDraft,\n    fabricated_claims: typeof webhookBody.fabricated_claims === 'string' ? webhookBody.fabricated_claims : JSON.stringify(webhookBody.fabricated_claims || [], null, 2),\n    feedback_summary: webhookBody.feedback_summary || 'Revision requested.',\n    source_data: webhookBody.source_data || 'Source papers not provided.'\n  }\n}];"
      },
      "id": "8efe4932-dc4f-4e14-bb8b-e373be440775",
      "name": "Prepare Revision Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst mode = data.trigger_source || 'INITIAL';\n\nlet systemPrompt = '';\nlet userPrompt = '';\n\nif (mode === 'INITIAL') {\n  systemPrompt = `You are the Review Writer Agent. Your SOLE job is to write an IEEE-format academic literature review from the provided data.\\n\\n## STRICT RULES\\n1. WRITE ONLY from provided data. NO external knowledge.\\n2. MANDATORY CITATIONS: Every factual claim MUST have [P<id>] inline citation.\\n3. IEEE FORMAT with these exact sections: I. ABSTRACT, II. INTRODUCTION, III. METHODOLOGY OF REVIEW, IV. THEMATIC ANALYSIS, V. COMPARATIVE ANALYSIS, VI. DISCUSSION, VII. CONCLUSION, VIII. REFERENCES\\n4. Academic, formal tone.\\n5. NEVER add information not in the provided data.`;\n  userPrompt = `Write a complete IEEE-format literature review based on the following data from ${data.paper_count} academic papers spanning ${data.year_range}.\\n\\n=== PAPER REFERENCE LIST ===\\n${data.paper_reference_table}\\n\\n=== IDENTIFIED THEMES ===\\n${data.themes_summary}\\n\\n=== METHODOLOGY COMPARISON ===\\n${data.methodology_matrix}\\n\\n=== RESEARCH GAPS ===\\n${data.research_gaps}\\n\\n=== CROSS-CUTTING FINDINGS ===\\n${data.cross_cutting_findings}\\n\\n=== FULL PAPER DATA ===\\n${data.full_paper_data}\\n\\nWrite the COMPLETE literature review now. Every claim must have [P<id>] citations.`;\n} else {\n  systemPrompt = `You are the Review Revision Agent. A Fact-Checker has identified factual errors in your previous draft.\\n\\n## STRICT RULES\\n1. CAREFULLY fix ONLY the fabricated claims mentioned.\\n2. KEEP the rest of the text and structure exactly as it was.\\n3. Remove false claims completely OR adjust them to match facts if provided.\\n4. Base your corrections on the ORIGINAL SOURCE PAPERS provided.\\n5. Maintain IEEE format and all sections.`;\n  userPrompt = `=== FACT-CHECKER FEEDBACK ===\\n${data.feedback_summary}\\n\\n=== FABRICATED CLAIMS TO FIX ===\\n${data.fabricated_claims}\\n\\n=== ORIGINAL SOURCE PAPERS (GROUND TRUTH) ===\\n${data.source_data}\\n\\n=== PREVIOUS DRAFT ===\\n${data.current_draft}\\n\\nBased on the feedback and ground truth above, REVISE the draft. Return the FULL updated draft but ONLY change the parts related to the fabricated claims. DO NOT output markdown code blocks if possible, just the raw text.`;\n}\n\nreturn [{ json: { ...data, dynamic_system_prompt: systemPrompt, dynamic_user_prompt: userPrompt } }];"
      },
      "id": "9f86fd0b-a7c6-4829-9a3b-d5c6d016358a",
      "name": "Cognitive Context Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        624
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Extracted": {
      "main": [
        [
          {
            "node": "Parse Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Analysis": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extracted": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Writer LLM": {
      "main": [
        [
          {
            "node": "Prep Binary Wrt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash - Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Writer LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prep Binary Wrt": {
      "main": [
        [
          {
            "node": "Write temp_draft.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write temp_draft.txt": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit Start)": {
      "main": [
        [
          {
            "node": "Read Extracted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Apply Academic CSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Academic CSS": {
      "main": [
        [
          {
            "node": "Write literature_review.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write literature_review.html": {
      "main": [
        [
          {
            "node": "Return String Wrt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Initial Context": {
      "main": [
        [
          {
            "node": "Cognitive Context Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Revision)": {
      "main": [
        [
          {
            "node": "Read Existing Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Draft": {
      "main": [
        [
          {
            "node": "Prepare Revision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Revision Context": {
      "main": [
        [
          {
            "node": "Cognitive Context Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cognitive Context Switch": {
      "main": [
        [
          {
            "node": "Writer LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare Initial Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ccba2720-182a-4499-b191-c3668ca3ee72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7aec8b029b068956a10542237692cf3bfbb2d308d8dcc3ca3898552060578cc8"
  },
  "id": "18AAR2OMbuqdqunV",
  "tags": [
    {
      "updatedAt": "2026-03-12T11:22:37.385Z",
      "createdAt": "2026-03-12T11:22:37.385Z",
      "id": "3KXXOk0suv7qNTUO",
      "name": "writer"
    },
    {
      "updatedAt": "2026-03-12T11:17:42.147Z",
      "createdAt": "2026-03-12T11:17:42.147Z",
      "id": "WbbFTmyU3z3eHNqr",
      "name": "literature-review"
    },
    {
      "updatedAt": "2026-03-12T11:21:37.743Z",
      "createdAt": "2026-03-12T11:21:37.743Z",
      "id": "mrxF1lzrZrgz1ZT3",
      "name": "sub-workflow"
    }
  ]
}