workflows/05-fact-checker.json
{
  "name": "05 - Fact Checker Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-chk",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        160
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit Start)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -100,
        160
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/*.pdf"
      },
      "id": "read-pdfs",
      "name": "Read PDFs",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "operation": "pdf"
      },
      "id": "extract-pdf",
      "name": "Extract PDFs",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        300,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst combinedText = allItems.map((item, i) => {\n  const text = item.json.text || item.json.data || JSON.stringify(item.json);\n  return `=== PAPER ${i + 1} ===\\n${text}`;\n}).join('\\n\\n');\nreturn [{ json: { combined_pdf_text: combinedText, paper_count: allItems.length } }];"
      },
      "id": "combine-pdf-texts",
      "name": "Combine PDF Texts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        40
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/temp_draft.txt"
      },
      "id": "read-draft",
      "name": "Read Draft",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        100,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst text = binaryData.toString('utf8');\nreturn [{ json: { text: text } }];"
      },
      "id": "extract-draft",
      "name": "Extract Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position"
      },
      "id": "merge-pdfs-draft",
      "name": "Merge PDFs and Draft",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const pdfItem = $input.all()[0];\nconst draftItem = $input.all()[1];\n\nconst combinedPdfText = pdfItem ? pdfItem.json.combined_pdf_text || '' : '';\nconst paperCount = pdfItem ? pdfItem.json.paper_count || 0 : 0;\nconst draftStr = draftItem ? draftItem.json.data || draftItem.json.text || '' : '';\n\nreturn [{\n  json: {\n    review_draft: draftStr,\n    source_papers_text: combinedPdfText,\n    paper_count: paperCount,\n    estimated_claims: 20\n  }\n}];"
      },
      "id": "prep-check-ctx",
      "name": "Prepare Check Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Verify ALL factual claims in the following literature review draft against the SOURCE PAPERS provided below.\n\n=== LITERATURE REVIEW DRAFT (to be verified) ===\n{{ $json.review_draft }}\n=== END DRAFT ===\n\n=== SOURCE PAPERS (ground truth) ===\n{{ $json.source_papers_text }}\n=== END SOURCE PAPERS ===\n\nTotal papers available: {{ $json.paper_count }}\nEstimated claims to check: {{ $json.estimated_claims }}\n\nCarefully cross-reference every claim in the draft against the source papers above. Return ONLY a valid JSON verification report with no markdown fences.",
        "options": {
          "systemMessage": "You are the Fact Checker Agent. Your SOLE job is to verify every factual claim in the literature review draft against the SOURCE PAPERS provided directly in the user message.\n\n## CRITICAL INSTRUCTION\nThe original paper texts are included directly in the prompt under '=== SOURCE PAPERS ==='. You MUST use this text as your ground truth for verification. Do NOT use any external knowledge.\n\n## STRICT RULES\n1. VERIFY ONLY - do not rewrite or add content.\n2. Every claim gets a verdict: VERIFIED, MODIFIED, UNVERIFIED, or FABRICATED.\n3. Cross-reference each claim against the source paper text provided. If no matching evidence is found in the source papers, mark as UNVERIFIED. If the source papers contradict the claim, mark as FABRICATED.\n4. NO EXTERNAL KNOWLEDGE - verify only against the source papers provided in the prompt.\n\n## VERDICT DEFINITIONS\n- VERIFIED: Claim matches source data accurately.\n- MODIFIED: Partially correct but misrepresents details.\n- UNVERIFIED: Cannot be found in provided source papers.\n- FABRICATED: Contradicts source paper data or references non-existent paper.\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON (no markdown fences):\n{\n  \"verification_metadata\": {\n    \"total_claims_checked\": 0,\n    \"verified\": 0,\n    \"modified\": 0,\n    \"unverified\": 0,\n    \"fabricated\": 0,\n    \"verification_rate\": \"0%\",\n    \"pass\": false\n  },\n  \"claim_verification\": [],\n  \"citation_audit\": [],\n  \"missing_paper_coverage\": [],\n  \"structural_check\": {},\n  \"overall_assessment\": \"\"\n}\n\nPass criteria: fabricated == 0 AND (unverified / total) < 0.20"
        }
      },
      "id": "checker-llm",
      "name": "Checker LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1160,
        160
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "maxOutputTokens": 8192,
          "temperature": 0
        }
      },
      "id": "gemini-flash-checker",
      "name": "Gemini Flash - Checker",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1160,
        380
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "IZebZJCgpMR7l73Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outputStr = $input.first().json.text || $input.first().json.output || $input.first().json;\nlet parsed = {};\ntry {\n  const cleanStr = typeof outputStr === 'string' ? outputStr.replace(/[`]{3}json\\n?/g, '').replace(/[`]{3}\\n?/g, '') : JSON.stringify(outputStr);\n  parsed = JSON.parse(cleanStr);\n} catch (e) {\n  parsed = { verification_metadata: { pass: false }, overall_assessment: 'JSON Parse Error from Checker LLM', claim_verification: [] };\n}\nconst runIndex = $runIndex || 0;\nreturn [{\n  json: { ...parsed, retry_count: runIndex, raw_output: outputStr }\n}];"
      },
      "id": "parse-route",
      "name": "Parse & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "009fb2fc-2646-485c-a117-062e2ff62ddb",
              "leftValue": "={{ Boolean($json.verification_metadata && $json.verification_metadata.pass) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pass-fail",
      "name": "If (Pass/Fail)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "23cbf9ba-648b-4c4c-bdf9-0f04e4c27a20",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-loop-guard",
      "name": "If (Loop Guard)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1820,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/review-writer-revision",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"REVISE\",\n  \"fabricated_claims\": {{ JSON.stringify($json.claim_verification ? $json.claim_verification.filter(c => c.verdict === 'FABRICATED' || c.verdict === 'MODIFIED') : []) }},\n  \"feedback_summary\": {{ JSON.stringify($json.overall_assessment || \"Revision needed.\") }}\n}",
        "options": {}
      },
      "id": "trigger-writer-revision",
      "name": "Trigger Writer Revision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: 'CRITICAL ERROR: Infinite Loop Prevented. Fact-checker failed 3 times in a row.' } }];"
      },
      "id": "guard-error",
      "name": "Guard Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const verified = $input.first().json.raw_output || $input.first().json.text || $input.first().json;\nreturn [{\n  json: { success: true },\n  binary: {\n    data: {\n      data: Buffer.from(typeof verified === 'string' ? verified : JSON.stringify(verified)).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'literature_review_output.txt'\n    }\n  }\n}];"
      },
      "id": "prep-binary-chk",
      "name": "Prep Binary Chk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        20
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/literature_review_output.txt",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "save-final-output",
      "name": "Save Final Output",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2060,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { result: 'Review finalized and verified. Final output saved to literature_review_output.txt' } }];"
      },
      "id": "return-string-chk",
      "name": "Return String Chk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        20
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit Start)": {
      "main": [
        [
          {
            "node": "Read PDFs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDFs": {
      "main": [
        [
          {
            "node": "Extract PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDFs": {
      "main": [
        [
          {
            "node": "Combine PDF Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine PDF Texts": {
      "main": [
        [
          {
            "node": "Merge PDFs and Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Draft": {
      "main": [
        [
          {
            "node": "Extract Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft": {
      "main": [
        [
          {
            "node": "Merge PDFs and Draft",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDFs and Draft": {
      "main": [
        [
          {
            "node": "Prepare Check Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Check Context": {
      "main": [
        [
          {
            "node": "Checker LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checker LLM": {
      "main": [
        [
          {
            "node": "Parse & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash - Checker": {
      "ai_languageModel": [
        [
          {
            "node": "Checker LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Route": {
      "main": [
        [
          {
            "node": "If (Pass/Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (Pass/Fail)": {
      "main": [
        [
          {
            "node": "Prep Binary Chk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If (Loop Guard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (Loop Guard)": {
      "main": [
        [
          {
            "node": "Trigger Writer Revision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Binary Chk": {
      "main": [
        [
          {
            "node": "Save Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Final Output": {
      "main": [
        [
          {
            "node": "Return String Chk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}